@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  section {
    @apply bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-fuchsia-900 font-bold;
  }

  h1 {
    @apply text-fuchsia-900 text-3xl font-bold my-8 text-center;
  }

  h2 {
    @apply text-fuchsia-900 text-2xl font-bold my-8;
  }

  h3 {
    @apply mt-10 text-xl;
  }

  h4 {
    @apply mt-10 text-lg;
  }

  p {
    @apply my-3;
  }

  ul {
    @apply list-disc pl-8;
  }

  p,
  table {
    a {
      @apply text-blue-700 underline cursor-pointer;
    }
  }
}

.introduce.first-time h3,
.introduce.first-time h4 {
  animation: introduce 2s forwards;
}

@keyframes introduce {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.background {
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  img {
    width: 100%;
    transform: translateZ(0);
    animation: hypnotize 240s infinite;
  }
}

@media only screen and (max-width: 768px) {
  .background {
    img {
      animation: hypnotize-mobile 240s infinite;
    }
  }
}

@keyframes hypnotize {
  0% {
    transform: scale(1.5) rotateZ(-180deg) translateY(100px);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5) rotateZ(+180deg) translateY(100px);
    opacity: 1;
  }
}

@keyframes hypnotize-mobile {
  0% {
    transform: scale(3) rotateZ(-180deg) translateY(50px) translateX(50px);
    opacity: 1;
  }
  50% {
    transform: translateY(50px) translateX(200px) scale(5);
    opacity: 1;
  }
  100% {
    transform: scale(3) rotateZ(+180deg) translateY(200px);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes accordion {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  30% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}

.parallax {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

.table {
  @apply table-auto animate-[accordion_500ms_forwards];
  tr {
    @apply even:bg-neutral-50 odd:bg-neutral-100;
    td {
      @apply p-2;
    }
  }
}
