@import "./css/elements.css";
@import "./css/animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.introduce.first-time h3,
.introduce.first-time h4 {
  animation: introduce 2s forwards;
}

.background {
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  img {
    width: 100%;
    transform: translateZ(0);
    animation: hypnotize 240s infinite;
  }
}

@media only screen and (max-width: 768px) {
  .background {
    img {
      animation: hypnotize-mobile 240s infinite;
    }
  }
}

.parallax {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}
