@page {
  size: 21cm 29.7cm;
  margin: 0mm 0mm 0mm 0mm;
}

@media print {
  div.printable-one {
    width: 21cm;
    height: 29.7cm;
    max-height: 29.7cm;
    overflow: hidden;
    footer {
      display: none;
    }
  }

  div.printable-many {
    width: 21cm;
    height: 29.7cm;
    header {
      display: none;
    }
    footer {
      display: none;
    }
  }
}
